<div class="form-group">
    <div class="genres-container">
        <p>@Genre.Name</p>
        <div>
            <a class="btn btn-info" href="genres/edit/@Genre.Id">Edit</a>
            <button type="button" class="btn btn-danger"
                    @onclick="@(() => DeleteGenre.InvokeAsync(Genre))">
                Delete
            </button>
        </div>
    </div>
</div>


@code {
    [Parameter] public Genre Genre { get; set; }
    [Parameter] public EventCallback<Genre> DeleteGenre { get; set; }
}
