@page "/genres/create"
@inject IGenreRepository genreRepository
@inject NavigationManager navigationManager

<h3>Create Genre</h3>

<MovieManagement.Client.Shared.GenreComponents.GenreFrom Genre="newGenre" OnValidSubmit="SaveGenre" />

@code {
    private Genre newGenre;

    /// <summary>
    /// Initialisiert das Objekt
    /// </summary>
    protected override void OnInitialized()
    {
        newGenre = new Genre();
    }

    /// <summary>
    /// Speichert das neu erstellte Genre Objekt und navigiert dann zum IndexGenres Komponent
    /// </summary>
    private void SaveGenre()
    {
        genreRepository.CreateGenre(newGenre);
        navigationManager.NavigateTo("genres");
    }
}
