@page "/movies/create"
@inject IMovieRepository movieRepository
@inject NavigationManager navigationManager

<h3>Create Movie</h3>

<MovieForm Movie="newMovie" OnValidSubmit="SaveMovie" />

@code {
    private Movie newMovie;

    protected override void OnInitialized()
    {
        newMovie = new Movie();
    }

    private void SaveMovie()
    {
        movieRepository.CreateMovie(newMovie);
        navigationManager.NavigateTo("");
    }
}
